* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}


body {
    display: grid;
    font-family: 'Noto Sans', sans-serif;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 1fr 7fr 2fr ; 
    grid-template-areas: 'header header'
                         'mainContent mainContent'
                         'footer footer';
    height: 100vh;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 9fr 4fr;
    background-color: white;
    grid-area: header;
    position: relative;
    z-index: 1;
}


main {
    grid-area: mainContent; 
    background: rgba(black, 0.66);
    z-index: 2;
}

.navindex .ulindex {
    list-style-type: none;
    color: black;
    border-bottom: 1px solid transparent; 
    padding: 0px;
  }
  
  .navindex .ulindex .liindex {
    float: left;
    padding: 10px;
    position:relative;
  }

  .navindex .ulindex .liindex:hover{
    background-color:black;
    color:white;
    cursor:pointer;
    border-bottom: 5px solid#38b6ff;
    margin-bottom: -5px;
    }
  
.logo
{
    margin-left: 40px;
}

.wrapper{
    float:right;
    max-width: 500px;
    width: 100%;
    background:white;
    margin: 80px 100px auto auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.125);
    padding: 30px;
    position: relative;
    z-index: 1;
    animation: pulse 3s infinite;
  }

  @keyframes pulse {
    0% {

        box-shadow: 0 0 0 0 rgba(256, 256, 256, .5);
    }

    50% {

        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }

    70% {

        box-shadow: 0 0 0 40px rgba(256, 256, 256, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}

  .wrapperleft{
    float:left;
    color: black;
    max-width: 500px;
    width: 100%;
    margin: 10% 10% 10% 10%;
    position: relative;
    z-index: 1;
  }
 
  .wrapperleft p{
    font-size: 20px;
  }
  .wrapperleft .h1index{
    font-size: 52px;
  }
  
  .wrapper .title{
    font-size: 24px;
    margin-bottom: 25px;
    color: black ;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
  }
  
  .wrapper .form .inputfield .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }


  .wrapper .form .inputfield .input:focus{
    border: 1px solid #fec107;
  } 
  .wrapper .form .inputfield .btnchooseplan{
    width: 100%;
     padding: 8px 20px;
    font-size: 15px; 
    border: 0px;
    background:  #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-left: 15px;
  }
  .wrapper .form .inputfield .btnchooseplan:hover{
    background: #ffd658;
  }
  .wrapper .form .inputfield .btnlogin{
    width: 100%;
     padding: 8px 20px;
    font-size: 15px; 
    border: 0px;
    background:  #38b6ff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btnlogin:hover{
    background: #38caff;
  }

  
  
  .wrapper .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  footer {
    display: grid;
    color:black;
    background-color: white;
    grid-area: footer;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.FooterParrafo{
  text-align: center;
  text-justify: inter-word;
  
}

  @media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
      flex-direction: row;
    }
  }

  #bgvid {
    object-fit:fill;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 0;
  }

 
